* {
	font-family: "Roboto", monospace;
}

window {
	background-color: #272727;
    border-radius: 10px;
}

#input {
	margin: 5px;
	border-radius: 0px;
    border: 0;
	background-color: #272727;
	color: f1fffa;
}

#inner-box {
	background-color: #272727;
}

#outer-box {
	margin: 2px;
	padding: 10px;
	background-color: #272727;
}

#scroll {
	margin: 5px;
}

#text {
    font-weight: bold;
	padding: 4px;
	color: f1fffa;
}

#entry:nth-child(even){
	background-color: #272727;
}

#entry:selected {
	background-color: #5299d3;
}

#text:selected {
	background: transparent;
    color: #f1fffa;
}
