* {all: unset;}

.bar {
    font-family: Roboto, Hack Nerd Font;
    font-size: 16px;
    background-color: #303446;
    color: white;
}

button {
    background-color: #303446;
}

button:hover {
    background-color: #333749;
}

.status {
    margin-right: -40px;
}

.item {
    margin-left: 10px;
    margin-right: 10px;
}
