* {all: unset;}

.bar {
    font-family: Roboto, Roboto Mono Nerd Font;
    font-size: 16px;
    background-color: #272727;
    color: #f1fffa;
}

.left {
    margin-left: 10px;
}

.right {
    margin-right: 10px;
}

.time {
    font-weight: bold;
    margin: 0px;
}

.date {
    font-style: italic;
    margin-left: 10px;
}
