.bar {
    font-family: FiraCode Nerd Font;
    background-color: #303446;
    color: white;
}

button {
    background-color: #303446;
}

button:hover {
    background-color: #333749;
}

.status {
    margin-right: 20px;
}

.item {
    padding-left: 10px;
    padding-right: 10px;
}
